  body{
    display:block
  }
  
  *{
    box-sizing: border-box;
  }
  #app {
    display: block; 
    padding: 0;
    box-sizing: border-box;
  }
  .search-label{
    font-size: 20px;
    color:#0169BF;
    font-weight: 700;
  }
  .search-container{
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    padding-top: 10px;
    
  }
  .search{
    display: flex;
    align-items: center;
    width: 100%;
    padding-top: 20px;
  
  }
  .search-text{
    padding: 8px 10px;
    width: 300px;
    border-radius: 10px 0 0 10px;
    border: 1px solid #0169BF;
   
  }
  .search-btn{
    background-color: #ddd;
    padding:8px 10px;
    color: #0169BF;
    font-weight: 600;
    border-radius: 0 8px 8px 0;
    border: 1px solid #0169BF;
  }
  .search-btn:hover{
    background-color: #0169BF;
    color: #fff;
    transition: all 0.3s;
  }
  .partner-container{
    margin-bottom: 30px;
  }
  .partner-container p{
    font-size: 25px;
    text-decoration: underline;
    text-underline-offset: 6px;
    width: 300px;
    font-weight: 700;
    margin-top: 10px;
    color: #0169BF;
  }
  .partner{
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
  }
  .partner-logo-one{
    background-image: url('/image/logo-dpi.jpg');
    background-size: cover;
    width: 49%;
    height: 200px;
    border-radius: 10px;
  }
  .partner-logo-two{
    background-image: url('/image/logo-nhanhoa.png');
    background-size: 100% 170px;
    background-repeat: no-repeat;
    background-color: #ddd;
    width: 45%;
    height: 170px;
    border-radius: 10px;
  }
  
  .video-container{
    padding-top: 15px;
    
  }
  .video {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 250px;
    border-radius: 10px;
  }
  .login-container{
    margin-top: 50px;
    padding: 20px;
    text-align: center;
    background-image: url("/image/bl.jpg");
    background-size: cover;
    height: 570px;
    border-radius: 15px;

  }
  .login{
    background-color: #438f9869;
    height: 530px;
    text-align: center;
    border-radius: 10px;
    padding-top: 100px;
    opacity: 0.8;
    box-shadow: 6px 6px 6px #656464;
  }
  .login i{
    font-size: 60px;
    color: #0169BF;
    
  }
  .login input{
    border: none;
    border-radius: 6px;
    background-color: rgba(194, 224, 209, 0.246);
    box-shadow: 6px 6px 6px #656464;
    width: 250px;
    padding: 10px;
    margin-top: 20px;

  }
  .input-group-one, .input-group-two{
    padding-top: 15px;
  }
  .login .btn-submit{
    padding-top: 20px;
  }
  .login .btn-submit .login-btn{
    border: none;
    font-size: 18px;
    font-weight: 600;
    width: 120px;
    height: 40px;
    border-radius: 10px;
    color: #0169BF;
    background-color: #b7d5c6;
    box-shadow: 6px 6px 6px #656464;
  }
  .btn-login{
    background-color: #438f9869;
    border-radius: 8px;
    box-shadow: 6px 6px 6px #656464;
    padding: 10px 8px;
    font-size: 18px;
    width: 150px;
    border: none;
    color: #0169BF;
    font-weight: 500;
  }
  .login .btn-submit .btn-login:hover{
    background-color:#0169BF;
    color: white;
    transition: all 0.3s;
  }
  .login .btn-submit .login-btn:hover{
    background-color:#0169BF;
    color: white;
    transition: all 0.3s;
  }
  .username, .password{
    padding: 6px 8px;
  }


  .inner-recruitment h2{
    color: #0169BF;
    border-bottom: 3px solid #0169BF;
  }
  .inner-recruitment .recruitment{
    width: 100%;
    height: 200px;
    padding: 10px;
    border-bottom: 1px solid #0169BF;
    display: flex;
    align-items: center;
  }
  .inner-recruitment .recruitment:hover{
    background-color: #0169bf84;
    border-radius: 10px;
  }
  .inner-recruitment .recruitment:hover p{
    color: #fff;
  }
  .inner-recruitment .recruitment img{
    width: 180px;
    border-radius: 8px;
  }
  .inner-recruitment .recruitment p{
    text-align: center;
    padding: 10px 8px;
    color: #0169BF;
  }
  
  

  .main-tow h4{
    background-color: #0169BF;
    padding: 15px;
    font-size: 22px;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    margin: 0;
    margin-bottom: 15px;
  }

  .main-tow ul li a{
    padding: 15px ;
    margin-bottom: 10px;
    font-size: 17px;
    font-weight: 600;
    color:#0169BF;
    border-radius: 5px;
    border: 2px solid #0169BF;

  }

  .main-tow ul li a{
    color:#0169BF;
    font-weight: 600;
    display: block;
    width: 100%;
    height: 100%;
  }
  .main-tow ul li a:hover{
    cursor: pointer;
    background-color: #0169bfa6;
    color: #fff;
    transition: all 0.7s;
    transform:translateY(-10px);
  
  }

  
  
  .ub,
  .sgd {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .sgd2 {
    display: flex;
  }
  
  .sgd2 ul {
    margin: 0;
  }
  
  
  
  h3 {
    text-align: center;
  }
  
  

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  a{
    text-decoration: none;
  }
  

  /* main */
  .item1 {
    position: relative;
    background-image: url('/image/noibat1.jpg'); 
    background-size: cover; 
    background-repeat: no-repeat; /* Tùy chọn */
    color: white; 
    padding: 20px;
    margin: 10px;
    width: 400px;
    height: 200px;
    border-radius: 10px;
  }
  
  .item2 {
    background-image: url('/image/noibat2.jpg');
    background-size: contain;
    border-radius: 50%;
  }
  .item2:hover {
    transition: all 0.5s;
    border-radius: 20px;
  }
  .item3 {
    position: relative;
    background-image: url('/image/noibat3.jpg'); 
    background-size: cover; 
    background-repeat: no-repeat; /* Tùy chọn */
    color: white; 
    padding: 20px;
    margin: 10px;
    width: 400px;
    height: 200px;
    border-radius: 10px;
  }

  .inner_item{
    box-shadow: 5px 5px  5px  #0169bf85;
  }

  .inner_item:hover{
    transform: scale(1.2);
    transition: all 0.4s;
  }

  .overlay {
    position: absolute;
    border-radius: 10px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(80, 79, 79, 0.5);
    opacity: 1; /* Để overlay hiển thị mặc định */
    transition: opacity 0.3s ease;
  }

  .item1 p,
  .item3 p {
  position: relative; /* Để chữ nằm trên overlay */
  z-index: 1;

}
  .dot-toggle {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 40px;
    width: 100px;
    margin: 20px auto;
  }
  
  .dot {
    background-color: #2b07fb;
    border-radius: 50%;
    height: 10px;
    width: 10px;
  }
  .flex-container #item1{
    margin-top: 20px;
  }
  .flex-container .item-flex-row{
    border-top: 1px solid #0169BF ;
    padding: 20px;
    display: flex ;
    justify-content: space-between;
    height: 300px;
    align-items: center;
    margin-bottom: 20px;
  } 
  .flex-container .item-flex-row img{
    width: 500px;
    height: 100%;
    border-radius: 10px;
  }
  .flex-container .inner-item-content{
    text-align: center;
    color:#0169BF;
    padding: 10px;
  }
  .flex-container .inner-item-content p{
    font-size: 18px;
  }
  .flex-container .item-flex-row:hover{
    background-color: #0169bf5f;
    color: #fff;
    border-radius: 0 0 10px 10px;
  }

  .button{
    text-align: center;
    margin-bottom: 50px;
  }
  
  .display {
    background-color: #fff;
    border: 1px solid #0169BF;
    border-radius: 5px;
    padding: 10px 15px;
    text-align: center;
    color: #0169BF;
    font-weight: 600;
  }
  .display:hover{
    background-color: #0169BF;
    color: #fff;
    transition: all 0.3s;
  }



  /* footer */
  .footer {
    color:#0169BF;
    margin-top: 20px;
    
  }
  .footer .footer-content{
    border-radius: 10px 10px 0 0;
    border: 2px solid #0169bf;
  }
  .footer-col{
    padding: 0;
  }
  .footer .text-about{
    box-shadow: 0 5px 5px #656464b6;
  }
  .text-about h4 {
    text-align: center;
    padding: 10px 0;
    font-size: 18px;
    background-color: #0169bf65;
    color: #fff;
    margin-bottom: 5px;
    border: 1px solid #0169BF;
    border-radius: 10px;
  }
  .footer ul {
    list-style: none;
    padding: 0%;
    margin: 0;
  }
  .footer .left{
    padding: 20px 10px 0px 30px;
    font-size: 18px;
  }
  .footer li {
    margin-bottom: 5px;
    font-size: 15px;
  }
  .footer a {
    display: inline-block;
    text-align: center;
    color: #0169BF;
    text-decoration: none;
  }
  .footer a:hover {
    text-decoration: none;
  }
  .email{
    padding: 10px 10px 0px 30px;
  }
  .email-text {
    padding: 6px;
    border:none;
    color: #fff;
    border-radius: 6px 0 0 6px;
    background-color: #0169bf6b;
    box-shadow: 0px 6px 6px #acabab;

  }
  .send-btn {
    padding: 6px 12px;
    color: #0169BF	;
    font-size: 18px;
    font-weight: 600;
    border: 1px solid #0169BF;
    border-radius: 0 6px 6px 0;
    cursor: pointer;
  }
  .send-btn:hover {
    background-color: #0169BF;
    color: white;
  }
  .footer .footer-bottom {
    background-color: #0169BF;
    color: white;
    text-align: center;
    padding: 5px 0;
    margin-top: 30px;
  }
  .footer li i{
    font-size: 30px;
    padding-right: 10px;
  }
  .footer .right{
    padding-left: 150px;
  }
  .footer .right a{
    display: flex;
    align-items: center;
  }
  .footer .right a i{
    color: #0169BF;
  }
  .footer .footer-bottom p{
    margin: 0;
    font-size: 15px;
    padding: 5px 0;
  }
  .footer .footer-bottom{
    margin: 0;
  }


  /* tin mới nhất */
  .news{
    margin-bottom: 40px;
  }
  .news .news-inner{
    border-bottom: 3px solid #0169BF;
    padding: 0;
    margin-top: 10px;
  }
  .news .new-news{
    text-align: left;
    background: #0169BF;
    display: inline;
    color: #fff;
    font-size: 20px;
    padding: 10px 20px;
    position: relative;
    top:-8px;
    border-radius: 0 10px 0 0;
  }
  .news .item-news{
    border: 1px solid #0169BF;
    border-radius: 10px;
    cursor: pointer;
  }
  .news .item-news:hover{
    background-color: #0169bf5c;
    color: #fff;
  }

  .news .item-news:hover .span{
    color: #fff;
  } 
  .news .item-news:hover h4{
    color: #fff;
  } 
  .news .item-news:hover p{
    color: #fff;
  } 
  .item-news img{
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
  .item-news .span{
    color: #1e0991;
    font-size: 18px;
  }
  .item-news h4{
    color: #0169BF;
    padding: 10px 15px;
    margin: 0;
    font-size: 25px;
  }
  .item-news p{
    font-size: 15px;
    color: #0169BF;
    padding: 0 15px;
  }


